<footer class="page-footer font-small bg-secondary pt-4">

  <div class="contain">
    <div class="row">
      <div class="col-md-12 justify-content-center">
        <h4 class="text-white">Siga nas redes</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">

        <ul class="social-network">
          <li>
            <a href="https://www.facebook.com/generationbrasil" target="_blank" class="icoFacebook">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/generationbrasil" target="_blank" class="icoFacebook">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/generationbrasil" target="_blank" class="icoFacebook">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</footer>
