<div class="container-fluid">
  <div class="row d-flex m-5">
    <div class="col-md-12 m-5">
    </div>
  </div>

</div>

<div class="container">
  <div class="row d-flex">
    <div class="col-md-6">
      <h1 class="fs-50">Crie experiências personalizadas para seus estudos</h1>
      <p class="fs-20">SprintQuiz é uma plataforma para ajudar a melhorar seu desempenho na vida escolar e nos seus estudos.
        </p>
      <div class="btn-group mt-3">
        <button class="btn btn-light mr-3">Começar</button>
        <a class="mr-3 mt-2">Teste um sprint</a>
        <a class="mr-3 mt-2">Assistir ao vídeo</a>
      </div>
    </div>
    <div class="col-md-6">
      <!-- <img src="https://i.imgur.com/aUrNeYD.png" alt="" width="400" height="400"> -->
      <img src="https://i.imgur.com/YDECcyn.png" alt="" width="400" height="400">
    </div>
  </div>

</div>

<div class="container-fluid mt-5">
  <div class="row d-flex align-items-center">
    <!-- <div class="col-md-12 justify-content-center"> -->
    <!-- <div class="card"> -->
      <!-- <div class="card-body"> -->
        <div class="col-12"><h1 class="fs-50 text-center justify-content-center">Produtos e soluções em que você pode confiar <br> durante a jornada dos seus estudos</h1></div>

        <div class="d-flex justify-content-center">

          <!-- card SPRINTS -->
            <div class="card col-xs-12 col-sm-3 col-md-3 col-lg-3 m-3 p-0">
              <div class="card-body align-items-center">
                <img class="card-img img-fluid rounded-circle my-5 " src="https://i.imgur.com/1ilMBgf.png" alt=""
                  width="150" height="150">
                <h1 class="text-center fs-16">Sprints</h1>
                <p class="text-center fs-14">Crie Sprints, provas, questões e alternativas para <br> praticar e aprender algo
                  novo</p>
                <h1 class="text-center my-3"><a href="">Começar</a></h1>

                <ul class="text-center">
                  <li><a class="fs-16 text-center" href=""><i class="fa fa-bullseye mx-2 my-2"
                        aria-hidden="true"></i>Sprints</a>
                  </li>
                  <li><a class="fs-16 " href=""><i class="fa fa-graduation-cap mx-1 my-2" aria-hidden="true"></i>
                      Provas
                    </a></li>
                  <li><a class="fs-16 " href=""><i class="fa fa-book mx-2 my-2" aria-hidden="true"></i>Questões</a></li>
                </ul>


              </div>
            </div>
          <!-- </a> -->

          <!-- card PROVAS -->
            <div class="card col-xs-12 col-sm-3 col-md-3 col-lg-3 m-3 p-0">
              <div class="card-body align-items-center">
                <img class="card-img img-fluid rounded-circle my-5 align-items-center"
                  src="https://i.imgur.com/maAdGcZ.png" alt="" width="150" height="150">
                <h1 class="text-center fs-16">Prova</h1>
                <p class="text-center fs-14">Crie provas para praticar e aprender algo
                  novo</p>
                <h1 class="text-center my-3"><a routerLink="/cadastrar-prova">Começar</a></h1>

                <ul class="text-center">
                  <li><a class="fs-16 text-center" href=""><i class="fa fa-bullseye mx-2 my-2"
                        aria-hidden="true"></i>Sprints</a>
                  </li>
                  <li><a class="fs-16 " href=""><i class="fa fa-graduation-cap mx-1 my-2" aria-hidden="true"></i>
                      Provas
                    </a></li>
                  <li><a class="fs-16 " href=""><i class="fa fa-book mx-2 my-2" aria-hidden="true"></i>Questões</a></li>
                </ul>


              </div>
            </div>
          <!-- </a> -->

          <!-- card QUESTÕES -->
            <div class="card col-xs-12 col-sm-3 col-md-3 col-lg-3 m-3 p-0">
              <div class="card-body align-items-center">
                <img class="card-img img-fluid rounded-circle my-5 align-items-center"
                  src="https://i.imgur.com/r98IEMu.png" alt="" width="150" height="150">
                <h1 class="card-title text-center fs-16">Questões</h1>
                <p class="card-text text-center fs-14">Crie questões e alternativas para praticar e
                  aprender algo
                  novo</p>
                <h1 class="text-center my-3"><a routerLink="/mural-questoes">Começar</a></h1>

                <ul class="text-center">
                  <li><a class="fs-16 " href=""><i class="fa fa-bullseye mx-2 my-2"
                        aria-hidden="true"></i>Sprints</a>
                  </li>
                  <li><a class="fs-16 " href=""><i class="fa fa-graduation-cap mx-1 my-2" aria-hidden="true"></i>
                      Provas
                    </a></li>
                  <li><a class="fs-16 " href=""><i class="fa fa-book mx-2 my-2" aria-hidden="true"></i>Questões</a></li>
                </ul>


              </div>
            </div>
          <!-- </a> -->
        </div>


      <!-- </div> -->
    <!-- </div> -->


  </div>
</div>

<!-- <div class="container">
    <div class="row">
        <div class="card ">
          <div class="card-body"> 

            <div class="card col-md-3 p-0">
              <div class="card-body align-items-center">
                <img class="img-fluid rounded-circle my-5 align-items-center" src="https://i.imgur.com/YDECcyn.png" alt=""
                  width="150" height="150">
                <h1 class="text-center fs-16">Prova</h1>
                <p class="text-center fs-14">Crie Sprints, provas, questões e alternativas para praticar e aprender algo
                  novo</p>
                <h1 class="text-center my-3"><a href="">Começar</a></h1>
    
                <ul>
                  <li><a class="fs-16 text-center" href=""><i class="fa fa-bullseye mx-2 my-2"
                        aria-hidden="true"></i>Sprints</a>
                  </li>
                  <li><a class="fs-16 " href=""><i class="fa fa-graduation-cap mx-1 my-2" aria-hidden="true"></i>
                      Provas
                    </a></li>
                  <li><a class="fs-16 " href=""><i class="fa fa-book mx-2 my-2" aria-hidden="true"></i>Questões</a></li>
                </ul>
    
    
              </div>
            </div>
    
            <div class="card col-md-3 p-0 ">
              <div class="card-body align-items-center">
                <img class="img-fluid rounded-circle my-5 align-items-center" src="https://i.imgur.com/YDECcyn.png" alt=""
                  width="150" height="150">
                <h1 class="text-center fs-16">Prova</h1>
                <p class="text-center fs-14">Crie Sprints, provas, questões e alternativas para praticar e aprender algo
                  novo</p>
                <h1 class="text-center my-3"><a href="">Começar</a></h1>
    
                <ul>
                  <li><a class="fs-16 text-center" href=""><i class="fa fa-bullseye mx-2 my-2"
                        aria-hidden="true"></i>Sprints</a>
                  </li>
                  <li><a class="fs-16 " href=""><i class="fa fa-graduation-cap mx-1 my-2" aria-hidden="true"></i>
                      Provas
                    </a></li>
                  <li><a class="fs-16 " href=""><i class="fa fa-book mx-2 my-2" aria-hidden="true"></i>Questões</a></li>
                </ul>
    
    
              </div>
            </div>
    
            <div class="card col-md-3 p-0">
              <div class="card-body align-items-center">
                <img class="img-fluid rounded-circle my-5 align-items-center" src="https://i.imgur.com/YDECcyn.png" alt=""
                  width="150" height="150">
                <h1 class="text-center fs-16">Prova</h1>
                <p class="text-center fs-14">Crie Sprints, provas, questões e alternativas para praticar e aprender algo
                  novo</p>
                <h1 class="text-center my-3"><a href="">Começar</a></h1>
    
                <ul>
                  <li><a class="fs-16 text-center" href=""><i class="fa fa-bullseye mx-2 my-2"
                        aria-hidden="true"></i>Sprints</a>
                  </li>
                  <li><a class="fs-16 " href=""><i class="fa fa-graduation-cap mx-1 my-2" aria-hidden="true"></i>
                      Provas
                    </a></li>
                  <li><a class="fs-16 " href=""><i class="fa fa-book mx-2 my-2" aria-hidden="true"></i>Questões</a></li>
                </ul>
    
    
              </div>
            </div>
          </div> 
       </div> 
    </div> 
   </div> 
  -->