<div class="container my-5">
    <div class="row d-flex align-items-center">
        <div class="col-md-12 ">
            <h1 class="text-center">Mural de Questões!</h1>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row d-flex align-items-center">
        <div class="card col-md-2 d-flex align-items-strech text-center justify-content-center m-1 my-1 p-3"
            *ngFor="let questao of listaQuestoes">
            <div class="card-body">
                <h5 class="card-title text-secondary m-0">Texto: {{questao.texto}}</h5>
                <p class="card-text text-secondary mt-3">Instituição: {{questao.instituicao}}</p>
                <p class="card-text text-secondary mt-3">Data: {{questao.ano}}</p>
                <p class="card-text text-secondary mt-3">{{questao.categoria.titulo}}</p>
                <p class="card-text text-secondary mt-3">{{questao.criador.nome}}</p>
            </div>
            <div class="btn-group">
                <button class="btn btn-outline-success mr-3" [routerLink]="['/atualizar-questao',questao.id]" >Editar</button>
                <button class="btn btn-outline-danger" [routerLink]="['/deletar-questao', questao.id]" >Apagar</button>
            </div>
        </div>
    </div>
</div>