<div class="container my-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">nome prova {{prova.nome}} | <h1>aqui: {{objson}}</h1></div>
        <h1 *ngIf="idQuestao != null" >achou questao</h1>
        <h1 *ngIf="idProva != null" >achou prova</h1>

    </div>
    <div class="row d-flex align-items-center">
        
            <div class="card col-md-3 d-flex align-items-strech   m-1 my-1 p-0" *ngFor="let questao of listaTodasQuestoes1 | async" >
                <div class="card-body p-3">
                    <h5  class="card-title text-secondary m-0 ">Texto: {{questao.texto}}</h5>
                    <p class="card-text text-secondary mt-3 cardlimitecaracteres">Instituição: {{questao.instituicao}}</p>
                    <p class="card-text text-secondary mt-3 cardlimitecaracteres">Data: {{questao.ano}}</p>
                    <p class="card-text text-secondary mt-3 cardlimitecaracteres">Categoria: {{questao.categoria.titulo}}</p>
                    <p class="card-text text-secondary mt-3 cardlimitecaracteres">Autor: {{questao.criador.nome}}</p>
                    <!-- <p *ngFor="let a of questao.alternativas; let i = index" ></p> -->
                    <p class="card-text text-secondary mt-3 cardlimitecaracteres">alternativas: {{questao.alternativas.length}}</p>
                    <p class="card-text text-secondary mt-3 cardlimitecaracteres">Resposta: {{questao.resposta}}</p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-info" (click)="adicionaQuestoes(questao)">add</button>
                </div>
            </div>
        
        
        <div class="col-md-12 text-center my-5">
            <button class="btn btn-primary" (click)="voltarPagina()" >cancelar</button>
            <button class="btn btn-primary" (click)="cadastrarListaQuestaoProva()" >finalizar</button>
            
            
        </div>
    </div>
</div>