<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h1 class="text-center">Atualzar questão</h1>
        </div>
    </div>
</div>



<div class="container mt-5">
    <div class="row d-flex align-items-center">
        <div class="col-md-8">
            <!-- <h1 class="text-center">Criar Questão</h1> -->
            <div class="card m-5 ">
                <div class="card-head">
                    <h1 class="card-title m-3 text-center">Questão</h1>
                </div>
                <form class="card-body">
                    <div class="form-group">
                        <label for="instituicaoQuestao">instituição</label>
                        <input [(ngModel)]="questao.instituicao" class="form-control" type="text"
                            name="instituicaoQuestao" id="instituicaoQuestao">
                        <small class="text-muted">*Opcional</small>
                    </div>

                    <div class="form-group">
                        <label for="anoQuestao">ano</label>
                        <input [(ngModel)]="questao.ano" class="form-control" type="date" name="anoQuestao"
                            id="anoQuestao">
                        <small class="text-muted">*Opcional</small>
                    </div>

                    <div class="form-group">
                        <label for="imagemQuestao">imagem (url ou link da foto)</label>
                        <input [(ngModel)]="questao.imagem" class="form-control" type="text" name="imagemQuestao"
                            id="imagemQuestao">
                        <small class="text-muted">*Opcional</small>
                    </div>


                    <div class="form-group">
                        <label for="categoriaQuestao">Categoria da Questão</label>
                        <select [(ngModel)]="questao.categoria"  class="form-control" name="categoriaQuestao"
                            id="categoriaQuestao"  (change)="tipoDeCategoria($event)">
                            <!-- <option disable>selecione...</option> -->
                            <option *ngFor="let cat of listaCategoriaQuestao" value="{{ cat?.id }}">{{ cat.titulo }}
                            </option>
                        </select>
                    </div>

                    <div *ngIf="questao.alternativas?.length" class="form-group">
                        <label for="respostaQuestao">Resposta da Questão</label>
                        <select [(ngModel)]="questao.resposta"  class="form-control" name="respostaQuestao"
                            id="respostaQuestao"  (change)="selecaoResposta($event)">
                            <!-- <option disable>selecione...</option> -->
                            <option *ngFor="let resp of questao.alternativas" value="{{ resp.id }}">{{ resp.texto }}
                            </option>
                        </select>
                    </div>


                    <!-- <div class="form-group">
                        <label for="nomeProva">resposta</label>
                        <input [(ngModel)]="questao.resposta" class="form-control" type="text" name="nomeProva" id="nomeProva">
                    </div> -->

                    <div class="form-group">
                        <label for="textoQuestao ">texto</label>
                        <!-- <input class="form-control" type="text" name="descricaoProva" id="descricaoProva"> -->
                        <textarea [(ngModel)]="questao.texto" class="form-control"
                        name="textoQuestao" id="textoQuestao" rows="10" cols="70"></textarea>
                    </div>


                    <div class="mt-3">
                        <button class="btn btn-success mr-3" (click)="atualizarQuestao()">Atualizar</button>
                        <button class="btn btn-danger mr-3" type="reset">Limpar</button>
                        <button class="btn btn-success mr-3" (click)="voltarPagina()">cancelar</button>
                    </div>

                </form>
            </div>
        </div>
       
    </div>
</div>