<div class="container mt-5">
    <div class="row d-flex align-items-center">
        <div class="col-md-8">
            <!-- <h1 class="text-center">Criar Questão</h1> -->
            <div class="card  ">
                <div class="card-head">
                    <h1 class="card-title m-3 text-center">Questão</h1>
                </div>
                <form ngNativeValidate class="card-body" #form="ngForm" (ngSubmit)="salvarQuestao()">
                    <div class="form-group">
                        <label for="instituicaoQuestao">instituição</label>
                        <input [(ngModel)]="questao.instituicao" class="form-control" type="text"
                            name="instituicaoQuestao" id="instituicaoQuestao">
                        <small class="text-muted">*Opcional</small>
                    </div>

                    <div class="form-group">
                        <label for="anoQuestao">ano</label>
                        <input [(ngModel)]="questao.ano" class="form-control" type="date" name="anoQuestao"
                            id="anoQuestao">
                        <small class="text-muted">*Opcional</small>
                    </div>

                    <div class="form-group">
                        <label for="imagemQuestao">imagem (url ou link da foto)</label>
                        <input [(ngModel)]="questao.imagem" class="form-control" type="text" name="imagemQuestao"
                            id="imagemQuestao">
                        <small class="text-muted">*Opcional</small>
                    </div>



                    <div class="form-group">
                        <label for="categoriaQuestao">Categoria da Questão</label>
                        <select class="form-control" name="categoriaQuestao" id="categoriaQuestao" required="required"
                            [(ngModel)]="idCategoriaQuestao" (change)="findCategoriaQuestaoById()">
                            <option disable>selecione...</option>
                            <option *ngFor="let cat of listaCategoriaQuestao" value="{{ cat.id }}">{{ cat.titulo }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="dificuldadeQuestao">Dificuldade da Questao</label>
                        
                        <select [(ngModel)]="questao.dificuldade" 
                         class="form-control" name="dificuldadeQuestao" id="dificuldadeQuestao">
                        <option disabled>seleciona...</option>
                        <option value="0">Fácil</option>
                        <option value="1">Intermediário</option>
                        <option value="2">Difícil</option>
                        </select>
                        <small class="text-muted">*Opcional</small>
                    </div>
                    


                    <div class="form-group">
                        <label for="textoQuestao ">texto</label>
                        <!-- <input class="form-control" type="text" name="descricaoProva" id="descricaoProva"> -->
                        <textarea [(ngModel)]="questao.texto" class="form-control" name="textoQuestao" id="textoQuestao"
                            rows="10" cols="70" required="required"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="respostaQuestao ">resposta da questão</label>
                        <!-- <input class="form-control" type="text" name="descricaoProva" id="descricaoProva"> -->
                        <textarea [(ngModel)]="alternativa.texto" class="form-control" name="respostaQuestao"
                            id="respostaQuestao" rows="10" cols="70" required="required"></textarea>
                    </div>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Launch demo modal
                    </button>


                    <div class="btn-group">
                        <button class="btn btn-success" >Criar</button>
                        <button class="btn btn-danger" type="reset">Limpar</button>
                        <button class="btn btn-success" (click)="voltarPagina()">finalizar</button>
                    </div>
                </form>

            </div>


        </div>

    </div>
</div>