
<a routerLink="/cadastrar-questao">aqui</a>
<router-outlet></router-outlet>

<div class="container-fluid mt-5 ">
    <div class="row d-flex align-items-center">
        <div class="col-md-12">
            <h1 class="text-center my-4">Cadastrar uma nova Categoria para Provas</h1>
        </div>
    </div>

    <!-- formulário -->
    <div class="row d-flex justify-content-center">
        <div class="col-md-5 ">
            <div class="card ">
                <div class="card-body">
                    <form>

                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>Título</mat-label>
                                <input [(ngModel)]="categoriaProva.titulo" matInput placeholder="nome da categoria..."
                                    name="nomeCategoriaProva" id="nomeCategoriaProva">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                <!-- <mat-hint>Hint</mat-hint> -->
                            </mat-form-field>
                        </p>

                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>Descrição</mat-label>
                                <input [(ngModel)]="categoriaProva.descricao" matInput
                                    placeholder="descrição da categoria..." name="descricaoCategoriaProva"
                                    id="descricaoCategoriaProva">
                                <mat-icon matSuffix>import_contacts</mat-icon>
                                <!-- <mat-hint>Hint</mat-hint> -->
                            </mat-form-field>
                        </p>


                        

                        <div class="btn-group " role="group">
                            <button class="botaoespaco" mat-raised-button color="primary"
                                (click)="cadastrarCategoriaProva()">Cadastrar</button>

                            <button mat-raised-button color="warn" type="reset">Apagar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- tabelas -->
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Descrição</th>
                    <th scope="col" >Ações</th>
                  </tr>
                </thead>
                <tbody >
                  <tr *ngFor="let cat of listaCategoriaProva">
                    <td scope="row">{{ cat.id }}</td>
                    <td>{{ cat?.titulo }}</td>
                    <td>{{ cat?.descricao }}</td>
                    
                    <td class="btn-group">
                        <button class="btn btn-info mr-3"[routerLink]="['/atualizar-categoria-prova', cat.id]">Editor</button>
                        <button class="btn btn-danger" [routerLink]="['/deletar-categoria-prova', cat.id]" >Apagar</button>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
        </div>
    </div>
</div>

<!-- tabela material -->
<!-- 
<div class="containerTabela">

    <mat-form-field appearance="standard">
        <mat-label>pesquise uma Categoria...</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>


    <div class="mat-elevation-z8">




        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="titulo">
                <th mat-header-cell *matHeaderCellDef> Titulo </th>
                <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
            </ng-container>

            <ng-container matColumnDef="descricao">
                <th mat-header-cell *matHeaderCellDef> Descrição </th>
                <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
            </ng-container>

            <ng-container matColumnDef="acoes">
                <th mat-header-cell *matHeaderCellDef> Ações </th>
                <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['/atualizar-categoria-prova', element.id]"><i class="fa fa-pencil mr-3"
                            aria-hidden="true"></i></a>
                    <a [routerLink]="['/deletar-categoria-prova', element.id]"><i class="fa fa-trash-o"
                            aria-hidden="true"></i></a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements"></mat-paginator>
    </div>

</div> -->


<!-- 
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table> -->