<div class="container-fluid my-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-5">
            <h1 class="text-center my-5">Apagar Categoria Prova</h1>
        </div>
    </div>
</div>

<div class="container-fluid my-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-5 ">
            <div class="card d-flex text-center p-5">
                <h1 class="text-center">Tem certeza que deseja excluir esta categoria?</h1>
                <h1 class="text-center text-secondary">{{ categoriaProva?.titulo }}</h1>
                <div class="card-body">
                    <div class="btn-group">
                        <button class="btn btn-success" (click)="deletarCategoriaProva()">Excluir</button>
                        <button class="btn btn-danger" routerLink="/cadastrar-categoria-prova">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>