<div class="container-fluid">
    <div class="row d-flex-align-items-center">
        <div class="col-md-12">
            <h1>Criar Provas</h1>
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-md-12">
            <form >
                <div class="form-group">
                    <label class="form-control" for="nomeProva">Nome</label>
                    <input class="form-control" type="text" name="nomeProva" id="nomeProva">
                </div>

                <div class="form-group">
                    <label class="form-control" for="descricaoProva">descrição</label>
                    <input class="form-control" type="text" name="descricaoProva" id="descricaoProva">
                    <!-- <textarea id="descricaoProva" rows="10" cols="70"></textarea> -->
                </div>

                <div class="form-group">
                    <label class="form-control" for="duracaoProva">duração</label>
                    <input class="form-control" type="number" name="duracaoProva" id="duracaoProva">
                </div>

            </form>
        </div>
    </div>
</div>