<div class="container-fluid">
    <div class="row d-flex-align-items-center">
        <div class="col-md-12">
            <h1>Criar Provas</h1>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-4 mt-5">
            <h1 class="text-center">1.Primeiro crie a Prova</h1>
            <div class="card m-5 ">
                <div class="card-head">
                    <h1 class="card-title m-3 text-center">Prova</h1>
                </div>
                <form class="card-body">
                    <div class="form-group">
                        <label for="nomeProva">Nome</label>
                        <input [(ngModel)]="prova.nome" class="form-control" type="text" name="nomeProva"
                            id="nomeProva">
                    </div>

                    <div class="form-group">
                        <label for="descricaoProva">descrição</label>
                        <input [(ngModel)]="prova.descricao" class="form-control" type="text" name="descricaoProva"
                            id="descricaoProva">
                        <!-- <textarea id="descricaoProva" rows="10" cols="70"></textarea> -->
                    </div>

                    <div class="form-group">
                        <label for="duracaoProva">duração</label>
                        <input [(ngModel)]="prova.duracao" class="form-control" type="number" name="duracaoProva"
                            id="duracaoProva">
                            <small class="text-muted">*Opcional</small>
                    </div>

                    <div class="form-group">
                        <label for="nomeProva">instituição</label>
                        <input [(ngModel)]="prova.instituicao" class="form-control" type="text" name="nomeProva"
                            id="nomeProva">
                    </div>

                    <label for="categoriaProva">Categoria da Prova</label>
                    <select [(ngModel)]="prova.categoria" class="form-control" name="categoriaProva" id="categoriaProva"
                        (change)="pegaCategoriaProvaSelecionada($event)">
                        <option disable>selecione...</option>
                        <option *ngFor="let cat of listaCategoriaProva" value="{{ cat.id }}">{{ cat.titulo }}</option>
                    </select>
                </form>
            </div>
        </div>
    </div>


</div>

<div class="container m-5">
    <div class="row m-5">
        <div class="col m-5"></div>
    </div>
</div>

<div class="container mt-5">
    <div class="row d-flex align-items-center">
        <div class="col-md-8">
            <h1 class="text-center">2.Agora crie as Questões</h1>
            <div class="card m-5 ">
                <div class="card-head">
                    <h1 class="card-title m-3 text-center">Questão</h1>
                </div>
                <form class="card-body">
                    <div class="form-group">
                        <label for="instituicaoQuestao">instituição</label>
                        <input class="form-control" type="text" name="instituicaoQuestao" id="instituicaoQuestao">
                    </div>

                    <div class="form-group">
                        <label for="anoQuestao">ano</label>
                        <input class="form-control" type="date" name="anoQuestao" id="anoQuestao">
                        <small class="text-muted">*Opcional</small>
                    </div>

                    

                    <div class="form-group">
                        <label for="categoriaQuestao">Categoria da Prova</label>
                        <select [(ngModel)]="prova.categoria" class="form-control" name="categoriaQuestao"
                            id="categoriaQuestao" (change)="pegaCategoriaQuestaoSelecionada($event)">
                            <option disable>selecione...</option>
                            <option *ngFor="let cat of listaCategoriaProva" value="{{ cat.id }}">{{ cat.titulo }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="duracaoProva">duração</label>
                        <input class="form-control" type="number" name="duracaoProva" id="duracaoProva">
                    </div>

                    <div class="form-group">
                        <label for="nomeProva">resposta</label>
                        <input class="form-control" type="text" name="nomeProva" id="nomeProva">
                    </div>

                    <div class="form-group">
                        <label for="textoQuestao ">texto</label>
                        <!-- <input class="form-control" type="text" name="descricaoProva" id="descricaoProva"> -->
                        <textarea class="form-control" [(ngModel)]="questao.texto" id="textoQuestao" rows="10" cols="70"></textarea>
                    </div>

                   

                </form>
            </div>
        </div>
        <div class="col-md-4">
            

            <!-- <div class="card" > -->
                <div class="form-group " *ngFor="let item of listaAlternativas; let p = index">
                    <label for="alternativaA">{{ p }}</label>
                    <!-- <input class="form-control" type="text" name="descricaoProva" id="descricaoProva"> -->
                    <textarea class="form-control" [(ngModel)]="item.texto" id="alternativaA" rows="5" cols="70"></textarea>
                </div>
            <!-- </div> -->

            <!-- <div class="form-group">
                <label for="alternativaB">B)</label>
                <textarea class="form-control" [(ngModel)]="questao.opcao_2" id="alternativaB" rows="5" cols="70"></textarea>
            </div>

            <div class="form-group">
                <label for="alternativaC">C)</label>
                <textarea class="form-control" [(ngModel)]="questao.opcao_3" id="alternativaC" rows="5" cols="70"></textarea>
            </div>

            <div class="form-group">
                <label for="alternativaD">D)</label>
                <textarea class="form-control" [(ngModel)]="questao.opcao_4" id="alternativaD" rows="5" cols="70"></textarea>
            </div>

            <div class="form-group">
                <label for="alternativaE">E)</label>
                <textarea class="form-control" [(ngModel)]="questao.opcao_5" id="alternativaE" rows="5" cols="70"></textarea>
            </div> -->
        </div>
    </div>
</div>