<!-- <app-navegacao-bar *ngIf='UsuarioService.logado()' > </app-navegacao-bar> -->
<!-- <mat-drawer-container  *ngIf='UsuarioService.logado()' class="container-fluid" autosize> -->
<mat-drawer-container class="container-fluid p-0 m-0" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
    <mat-nav-list class="nav-list">
      <a *ngIf="!UsuarioService.logado()" mat-list-item routerLink="entrar">
        <i class="material-icons">home</i>
        Entrar
      </a>
      <a mat-list-item routerLink="prova/mural-provas">
        <i class="material-icons">account_circle</i>
        Provas

      </a>
      <a mat-list-item [routerLink]="['usuario/atualizar-usuario', idUsuario]">
        <i class="material-icons">person</i>
        Usuario
      </a>
      <a mat-list-item routerLink="questao/mural-questoes">
        <i class="material-icons">code</i>
        Questões
      </a>
      <a mat-list-item routerLink="boas-vindas">
        <i class="material-icons">logout</i>
        Boas
      </a>

    </mat-nav-list>
  </mat-drawer>

  <div class="sidenav-content m-0 p-0">
    <div class="row dflex m-0 p-0">
      <div class="col-md-12 p-0">
        <!-- <app-navegacao-bar *ngIf='UsuarioService.logado()'> </app-navegacao-bar> -->
        <button class="menu mat-elevation-z" mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </div>


    <router-outlet></router-outlet>




  </div>

</mat-drawer-container>




<div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="20px" fxFlexOffset="15">

  <div class="sidebar-item" fxLayout="row">
    <a style="margin-right: 10px; cursor: pointer; margin-left: 5px;">
    </a>
  </div>
  <!-- </a> [style]="colorItemMenu" -->

</div>