<p>remover-alternativa-da-questao works!</p>




<div class="containerTabela">

   


    <div class="mat-elevation-z8">




        <table mat-table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="texto">
                <th mat-header-cell *matHeaderCellDef> Texto </th>
                <td mat-cell *matCellDef="let element"> {{element.texto}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="foto">
                <th mat-header-cell *matHeaderCellDef> Foto </th>
                <td mat-cell *matCellDef="let element"> {{element.foto}} </td>
            </ng-container>

           

            <!-- Symbol Column -->
            <ng-container matColumnDef="acoes">
                <th mat-header-cell *matHeaderCellDef> Ações </th>
                <td mat-cell *matCellDef="let element">
                    <button (click)="removerAlternativa(element.id)" ><i class="fa fa-pencil mr-3"
                        aria-hidden="true"></i></button>
                    
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements"></mat-paginator>
    </div>

</div>

<h1>{{this.questao.alternativas[0].texto}}</h1>


<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Descrição</th>
                    <th scope="col" >Ações</th>
                  </tr>
                </thead>
                <tbody >
                  <tr *ngFor="let alternativa of this.questao.alternativas">
                    <td scope="row">{{ alternativa.id }}</td>
                    <td>{{ alternativa.texto }}</td>
                    <td>{{ alternativa.foto }}</td>
                    
                    <td class="btn-group">
                        <button class="btn btn-danger" (click)="removerAlternativa(alternativa.id)" >Apagar</button>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
        </div>
    </div>
</div>
