<nav class="navbar sticky-top navbar-expand-lg navbar-light border-bottom shadow-sm bg-light">
  <a class="navbar-brand d-none " href="#">Navbar</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link fs-16" routerLink="/boas-vindas"> inicio <span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item">
        <a class="nav-link " routerLink="/criar">criar</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/listagem">Exercicios</a>
      </li> -->
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
      </li> -->

      


    </ul>


    <ul class="navbar-nav ml-auto d-flex align-items-center">

      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Área Administrador</a>
        <ul class="dropdown-menu games-menu">
          <li><a href="latest.html" class="dropdown-item" routerLink="/cadastrar-categoria-prova">Criar Categoria de prova</a></li>
          <li><a href="latest.html" class="dropdown-item" routerLink="/cadastrar-categoria-questao">Criar Categoria de questão</a></li>
          <li><a href="latest.html" class="dropdown-item" routerLink="/cadastrar-prova">Criar provas</a></li>
          <li><a href="latest.html" class="dropdown-item" routerLink="/cadastrar-questao">Criar questões</a></li>

          
          <!-- <li><a href="latest.html" class="dropdown-item" routerLink="/atualizar-categoria-prova">Atualizar Categoria de prova</a></li>
          <li><a href="latest.html" class="dropdown-item" routerLink="/atualizar-categoria-questão">Atualizar Categoria de questão</a></li>
          <li><a href="latest.html" class="dropdown-item" routerLink="/atualizar-prova">Atualizar prova</a></li>
          <li><a href="latest.html" class="dropdown-item" routerLink="/atualizar-questao">Atualizar questão</a></li>
          <li><a href="latest.html" class="dropdown-item" routerLink="/atualizar-alternativa">Atualizar alternativa</a></li>

          <li><a href="latest.html" class="dropdown-item" routerLink="/deletar-categoria-prova">Deletar Categoria de prova</a></li>
          <li><a href="latest.html" class="dropdown-item" routerLink="/deletar-categoria-questão">Deletar Categoria de questão</a></li>
          <li><a href="latest.html" class="dropdown-item" routerLink="/deletar-prova">Deletar prova</a></li>
          <li><a href="latest.html" class="dropdown-item" routerLink="/deletar-questao">Deletar questão</a></li>
          <li><a href="latest.html" class="dropdown-item" routerLink="/deletar-alternativa">Deletar alternativa</a></li> -->
          
          
          <div class="dropdown">
            <li class="sub-menu"><a href="#" class="dropdown-item dropdown-toggle" data-toggle="dropdown">Criar
                questão</a>
              <ul class="dropdown-menu games-menu">
                <li><a href="2019.html" class="dropdown-item">2019</a></li>
                <li><a href="2020.html" class="dropdown-item">2020</a></li>
                <div class="dropdown">
                  <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" data-toggle="dropdown"
                      href="#">Something else here</a>
                    <ul class="dropdown-menu">
                      <a class="dropdown-item" href="#">A</a>
                      <a class="dropdown-item" href="#">b</a>
                    </ul>
                  </li>
                </div>
              </ul>
            </li>
          </div>

        </ul>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-user-circle-o ico" aria-hidden="true"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item fs-14" [routerLink]="['/atualizar-usuario', idUsuario]">atualizar</a>
          <a class="dropdown-item fs-14" routerLink="/mural-provas">mural de provas</a>
          <a class="dropdown-item fs-14" routerLink="/mural-questoes">mural de questões</a>
          <!-- <a class="dropdown-item fs-14" routerLink="/tela">teste Tela</a> -->
          <a class="dropdown-item fs-14" href="#">sprints</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item fs-14" routerLink="/criar">criar</a>
        </div>
      </li>

      <li class="nav-item active mx-1">
        <a class="fs-16" routerLink="/entrar" (click)="sair()">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>