li {
    list-style-type: none;
}

.ico {
    font-size: 25px;
}

.fs-16 {
    font-size: 16px;
    font-weight: 400;
}

.fs-14 {
    font-size: 14px;
    font-weight: 300;
}

.nav {
    position: absolute !important ;
}