<div class="container-fluid my-5">
    <div class="row d-flex align-items-center">
        <div class="col-md-12">
            <h1 class="text-center my-4">Cadastrar uma nova Categoria para Questão</h1>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-5 ">
            <div class="card ">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <!-- <label for="nomeCategoriaQuestao">nome da Categoria da Questão a ser registrada</label> -->
                            <input [(ngModel)]="categoriaQuestao.titulo" type="text" name="nomeCategoriaQuestao" id="nomeCategoriaQuestao"
                                class="form-control" placeholder="nome da categoria...">
                        </div>

                        <div class="form-group">
                            <!-- <label for="descricaoCategoriaQuestao">descrição da Categoria da Questão a serregistrada</label> -->
                            <input [(ngModel)]="categoriaQuestao.descricao" type="text" name="descricaoCategoriaQuestao" id="descricaoCategoriaQuestao"
                                class="form-control" placeholder="descrição da categoria...">
                        </div>

                        <div class="btn-group " role="group">
                            <button class="btn btn-success mr-5" type="submit" (click)="cadastrarCategoriaQuestao()">Cadastrar</button>
                            <button class="btn btn-danger" type="reset">Apagar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Descrição</th>
                    <th scope="col" >Ações</th>
                  </tr>
                </thead>
                <tbody >
                  <tr *ngFor="let cat of listaCategoriaQuestao">
                    <td scope="row">{{ cat.id }}</td>
                    <td>{{ cat.titulo }}</td>
                    <td>{{ cat.descricao }}</td>
                    
                    <td class="btn-group">
                        <button class="btn btn-info mr-3"[routerLink]="['/atualizar-categoria-questao', cat.id]">Editor</button>
                        <button class="btn btn-danger" [routerLink]="['/deletar-categoria-questao', cat.id]" >Apagar</button>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
        </div>
    </div>
</div>
