<div class="container-fluid">
  <div class="row d-flex align-items-center">
    <div class="col-md-12">
      <div class="row d-flex justify-content-center">
        <div class="col-md-4">
          <!-- <h2 class="text-center m-5">Cadastrar</h2> -->
          <div class="row my-2"></div>
            <div class="card m-5">
              <div class="card-body">
                <h2 class="text-center m-5">Faça seu cadastro</h2>

                <form class="mx-5 mb-3">

                  <div class="form-group">
                    <label for="nome" >Nome</label>
                    <input [(ngModel)]="usuario.nome" class="form-control" type="text" name="nome" id="nome" placeholder="nome ou apelido...">
                  </div>

                  <div class="form-group">
                    <label for="email">Email</label>
                    <input [(ngModel)]="usuario.email" type="text" name="email" id="email" class="form-control" placeholder="seu melhor email...">
                  </div>


                  <div class="form-group">
                    <label  for="">senha</label>
                    <div class="btn-group col-12 p-0">
                      <input (input)="confirmarSenha($event)" type="{{tipoCampoSenha}}" name="senha" id="senha" class="form-control" placeholder="senha...">
                      <button class="btn btn-info" (click)="exibirSenha()">mostrar</button>
                    </div>
                    <small class="text-muted">*Mínimo 8 caracteres, Máx 16</small>
                  </div>

                  <div class="form-group">
                    <label for="">confirmar senha</label>
                    <input [(ngModel)]="usuario.senha" type="password" name="confirmarsenha" id="confirmarsenha" class="form-control" placeholder="senha...">
                    <small class="text-muted">*Mínimo 8 caracteres, Máx 16</small>
                  </div>

                  <div class="form-group">
                    <label for="">foto</label>
                    <input [(ngModel)]="usuario.foto" type="text" name="foto" id="foto" class="form-control" placeholder="foto...">
                    <small class="text-muted">*link da foto</small>
                  </div>

                  <div class="form-group">
                    <label for="tipo">Tipo de usuário</label>
                    <select [(ngModel)]="usuario.tipo" class="form-control" name="tipo" id="tipo" (change)="pegaTipoUsuario($event)">
                      <option >selecione...</option>
                      <option value="admin">administrador</option>
                      <option value="aluno">aluno</option>
                      <!-- <option value="professor">professor</option>
                      <option value="intituicao">instituicao</option> -->
                    </select>
                  </div>

                  <div class="text-center">
                    <button class="btn btn-success mt-2 mb-1" type="submit" (click)="cadastrar()">cadastrar</button>
                  </div>

                </form>
                <div class="col-10 mx-5 my-2"><hr></div>
                <h3 class="text-center mt-0 mb-0">Já possui cadastro? <a routerLink="/entrar">entrar</a></h3>




              </div>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>
