<div class="container p-0 m-0">
  <h1><i class="fa-duotone fa-image"></i></h1>

  <div class="row d-flex justify-content-center m-0">
    <div class="col-md-12"></div>
    <div class="row my-5"></div>
    <div class="card mt-3 mb-5">
      <div class="card-body">
        <h2 class="text-center m-5">Faça seu login</h2>
        <form [formGroup]="loginForm" (submit)="solicitaLogin()">
          <div class="form-group m-5">
            <input
              class="form-control"
              type="text"
              name="email"
              id="email"
              placeholder="email..."
              formControlName="email"
              required
            />
            <app-mensagem *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched"
              mensagem="email obrigatório"
            ></app-mensagem>
          </div>

          <div class="form-group m-5">
            <input
              class="form-control"
              type="password"
              name="senha"
              id="senha"
              placeholder="senha..."
              formControlName="senha"
              
            />
            <app-mensagem *ngIf="loginForm.get('senha')?.errors && loginForm.get('senha')?.touched"
              mensagem="senha obrigatório"
            ></app-mensagem>
          </div>

          

          <div class="text-center">
            <button class="btn btn-success" type="submit">Entrar</button>
          </div>
        </form>

        <hr class="m-5" />

        <p class="mt-5 ml-5 mr-5">
          Não tem uma conta? Sem problemas
          <a routerLink="/cadastrar-usuario">cadastre-se</a>
        </p>
      </div>
    </div>
  </div>
</div>
