
<div class="container-fluid">
  <div class="row d-flex align-items-center ">
    <div class="col-md-12 ">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12">
          <!-- <h1 class="text-center m-5">entrar</h1> -->
        </div>
        <div class="row my-5"></div>
        <div class="card mt-3 mb-5">
          <div class="card-body">
            <h2 class="text-center m-5">Faça seu login</h2>

            <div class="form-group m-5">
              <!-- <label for="usuario">Usuário:</label> -->
              <input [(ngModel)]="usuarioLogin.usuario" class="form-control" type="text" name="usuario" id="usuario" placeholder="email...">
            </div>

            <div class="form-group m-5">
              <!-- <label for="senha">Senha:</label> -->
              <!-- <input class="form-control" type="password" name="senha" id="senha" placeholder="senha..."> -->

              <div class="btn-group col-12 p-0">
                <input [(ngModel)]="usuarioLogin.senha" type="{{tipoCampoSenha}}" name="senha" id="senha" class="form-control" placeholder="senha...">
                <button class="btn btn-info" (click)="exibirSenha()">mostrar<!-- <i class="fa fa-eye" aria-hidden="true"></i> --></button>
              </div>

            </div>

            <div class="text-center">
              <button class="btn btn-success" type="submit" (click)="verificaLogin()" >Entrar</button>
            </div>

            <hr class="m-5">

            <p class="mt-5 ml-5 mr-5 ">Não tem uma conta? Sem problemas <a routerLink="/cadastrar">cadastre-se</a></p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
