.fs-75 {
    font-size: 75px;
    line-height: 70px;
}

.fs-50 {
    font-size: 50px;
    line-height: 50px;
}

.fs-20 {
    font-size: 20px;
    font-weight: 400;
}

li {
    list-style-type: none;
}

.a-card {
    text-decoration: none;
    color: inherit;
}
