<div class="container my-5">
  <div class="row d-flex align-items-center">
      <div class="col-md-12 ">
          <h1 class="text-center">Faça sua prova</h1>
      </div>
  </div>
</div>

<div class="container my-5">
  <div class="row d-flex align-items-center">
    <div
      class="card col-md-4 d-flex align-items-strech m-1 my-1 p-0"
      *ngFor="let prova of listaQuestoes"
    >
      <div class="card">
        <div class="card-body">
          <h5 class="card-title texto">{{ prova.texto }}</h5>
          <p class="card-text">{{ prova.dificuldade }}</p>
          <a href="prova/fazer-prova" class="btn btn-primary">fazer</a>
        </div>
      </div>
    </div>
  </div>
</div>
