.carddash{
    max-width: 300px;
}


.card-sprint {
    background-color: red;
}


.card-provas {
    background-color: yellow;
}

.card-questoes {
    background-color: cornflowerblue;
}

.card-alternativas {
    background-color: aquamarine;
}