.card {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

li {
    list-style-type: none;
    cursor: pointer;
    margin: 10px;
}

li .card:hover{
    border: 1px solid blue;
}

ol {
    padding: 0px
}

.selected {
    background: mediumseagreen !important;
    color: blue;
}

.movies {
    background: red;
    padding: 0.5em 1em 0.5em 1.5em;
    margin: 1em;
    max-width: 16em;
  }

  .movies .movieListItem{
    font-size: 0.875em;
  }